/* Header */
.container-header{
    background-color: #101727; 
}
 .nav-link{
    color: #00fff2; 
    text-align: center;
} 


/* Footer */

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%; /* Asegura que ocupen toda la altura */
    margin: 0;
    display: flex;
    flex-direction: column; /* Coloca el contenido y el footer en columnas */
}

body {
    font-family: "Montserrat", sans-serif;
}

.content {
    flex: 1; /* Ocupa el espacio disponible, empujando el footer hacia abajo */
}

footer {
    background-color: #e0e0e0;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #555;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #555;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}