@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #363636;
  background-color: #F1F4F8;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 45px;
}

.hero_area .hero_social {
  position: absolute;
  top: 45%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero_area .hero_social a {
  color: rgb(51, 99, 255);
  margin: 5px 0;
}

.hero_area .container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

.sub_page .hero_area {
  min-height: auto;
  border-radius: 0 0 45px 0;
  padding-left: 0;
}

/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
  background-color: #f0d43a;
  border-radius: 0 0 0 250px;
	background: linear-gradient(to bottom right,rgb(255, 87, 51),rgb(10, 10, 233));
}

.slider_section .row {
	padding: 0px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #ffffff;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 15px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 185px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 12px 15px 12px;
  background: linear-gradient(to bottom right, rgb(10, 133, 233),rgb(51, 88, 255));
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.slider_section .detail-box .btn-box .btn1:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
 list-style: none;
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 23px;
  height: 23px;
  background-color: #FFAEFE;
}

.shop_section{
	padding: 10px;
}


.shop_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.shop_section .btn-box a {
  display: inline-block;
  padding: 10px 50px;
  background: linear-gradient(#00fff2, #4900FF);
  color: white;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid blue;
}

.shop_section .btn-box a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.about_section .img-box img {
  width: 100%;
  max-width: 375px;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f0d43a;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f0d43a;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.feature_section {
  text-align: center;
	padding: 80px;
}

.feature_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature_section .box{
	/* border: solid #36d7ff; */
  border: 0px;
}

.feature_section .box {
  margin-top: 45px;
  padding: 15px;
  border-radius: 24px;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25), -2px -2px 3px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25), -2px -2px 3px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
 
  background: linear-gradient(to bottom right,rgb(255, 87, 51),rgb(61, 61, 238));
  color: #ffffff;

}

.feature_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 15px 0;
}

.feature_section .box .img-box img {
  width: 75px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.feature_section .box .detail-box {
  margin-top: 10px;
}

.feature_section .box .detail-box h5 {
  font-weight: bold;
  position: relative;
}

.feature_section .box .detail-box a {
  color: #00fff2;
  cursor: pointer; /* Cambia el puntero a mano */
}

.feature_section .box:hover {
  background: linear-gradient(rgb(255, 87, 51),rgb(61, 61, 238));
  color:#00fff2;
	border: 0px;
} 

.feature_section .box:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.feature_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.feature_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background: linear-gradient(#0028ff, #00FFF6);
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f0d43a;
}

.feature_section .btn-box a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
